img {
  width: 100%;
  border-radius: $borderRadiusImg;
}
main {
  font-family: $genericFont;
}
.mountain,
.surfer,
.tree {
  margin: 1rem;
  background-color: $backroundcolor;
  border: 1px solid $bordercolor;
  border-radius: 0.5rem;
}
.mountain > h3,
.mountain > p {
  padding: $genericPadding;
}
.surfer > h3,
.surfer > p {
  padding: $genericPadding;
}
.tree > h3,
.tree > p {
  padding: $genericPadding;
}
article {
  margin: 2rem 1rem;
}
article > h2,
aside > h3 {
  margin-bottom: $genericMargin;
}
aside {
  border: 1px solid $bordercolor;
  margin: 1rem;
  padding: $genericPadding;
}

@media screen and (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-areas:
      "mountain surfer tree"
      "article article aside";
  }

  .mountain {
    grid-area: mountain;
  }
  .surfer {
    grid-area: surfer;
  }
  .tree {
    grid-area: tree;
  }
  article {
    grid-area: article;
  }
  aside {
    grid-area: aside;
  }
}
