header {
  font-family: $genericFont;
}
ul {
  display: flex;
  justify-content: center;
}
header li {
  list-style-type: none;
  padding: $genericPadding;
  color: $primaryColor;
}
.logo {
  height: 20vh;
  width: 100%;
  background: url(../ExerciseSCSS/ExerciseSCSS/images/header.jpg);
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $genericfont;
}

@media screen and (min-width: 700px) {
  .logo {
    height: 25vh;
    font-size: $fontBg;
  }
  header ul {
    align-items: center;
    justify-content: right;
    height: 7vh;
  }
  header li {
    font-size: $fontBg;
  }
}
